flows.txt
[{"id":"60e56c1c.6552c4","type":"tab","label":"apinextnumber1&2","disabled":false,"info":""},{"id":"732e88a1.517f38","type":"http in","z":"60e56c1c.6552c4","name":"","url":"/ubnd_songluy_apinextnumber1","method":"post","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["921cc6af.a7b718","6582ba94.f6b234"]]},{"id":"58e25ed1.71f92","type":"http response","z":"60e56c1c.6552c4","name":"","statusCode":"","headers":{},"x":1030,"y":120,"wires":[]},{"id":"9d62136d.c03fc","type":"function","z":"60e56c1c.6552c4","name":"Respone maSTT","func":"\nif(msg.payload[0].maSoTT === null){\n    msg.payload = \"Hết số\";\n} else {\n    msg.payload = msg.payload[0].maSoTT;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["f47025f6.297f28","4c5360a0.8b339","153198cf.969267"]]},{"id":"921cc6af.a7b718","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":110,"y":40,"wires":[]},{"id":"f47025f6.297f28","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":80,"wires":[]},{"id":"771d9e23.6b7f4","type":"function","z":"60e56c1c.6552c4","name":"Query MIN(stt.maSoTT)","func":"msg.topic = \"SELECT MIN(stt.maSoTT) AS maSoTT FROM sothutu stt WHERE stt.flagCalled=0 AND stt.maPhong='1000' AND DATE(stt.ngayTao) = CURDATE();\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":160,"wires":[["4996af96.ad152"]]},{"id":"4996af96.ad152","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":400,"y":160,"wires":[["663a18b1.fc3288","9d62136d.c03fc","7cc19a69.922994","bce57ea8.093bd"]]},{"id":"663a18b1.fc3288","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].maSoTT","targetType":"msg","x":470,"y":80,"wires":[]},{"id":"6582ba94.f6b234","type":"change","z":"60e56c1c.6552c4","name":"save req and res","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":120,"wires":[["771d9e23.6b7f4"]]},{"id":"4c5360a0.8b339","type":"change","z":"60e56c1c.6552c4","name":"get req, res","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["58e25ed1.71f92"]]},{"id":"d77587fd.711c88","type":"http response","z":"60e56c1c.6552c4","name":"","statusCode":"","headers":{},"x":910,"y":500,"wires":[]},{"id":"3d6f614d.5627ae","type":"change","z":"60e56c1c.6552c4","name":"get req, res","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":500,"wires":[["d77587fd.711c88"]]},{"id":"1ccd91ee.91371e","type":"function","z":"60e56c1c.6552c4","name":"Response","func":"msg.payload = \"Đang gọi\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":480,"wires":[["3d6f614d.5627ae"]]},{"id":"6f0644.9b5d59bc","type":"function","z":"60e56c1c.6552c4","name":"Response","func":"msg.payload = \"Hết số\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":520,"wires":[["3d6f614d.5627ae"]]},{"id":"5e35a285.d0414c","type":"switch","z":"60e56c1c.6552c4","name":"","property":"payload.soDangGoi","propertyType":"msg","rules":[{"t":"neq","v":"Hết số","vt":"str"},{"t":"eq","v":"Hết số","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":340,"wires":[["a0c79dfd.99646","a893d4ad.1a9528","e52091f6.16e9"],["6f0644.9b5d59bc"]]},{"id":"a0c79dfd.99646","type":"function","z":"60e56c1c.6552c4","name":"Parse string call number","func":"let soDangGoi = msg.payload.soDangGoi;\nlet len = soDangGoi.length;\nsoDangGoi = soDangGoi.split(\"\").join(\" \");\nmsg.payload = \"Xin mời số \"+soDangGoi+\" vào quầy số 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":420,"wires":[["34fc65c.816f69a","7b9604e3.3c7f3c"]]},{"id":"a893d4ad.1a9528","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1","func":"\nlet soDangGoi = msg.payload.soDangGoi;\nlet soDaGoi = soDangGoi-1;\nmsg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, stt.flagCalled=1, stt.flagWaiting=0, stt.flagCalled=1 WHERE stt.maSoTT=\"+soDaGoi+\" AND DATE(stt.ngayTao) = CURDATE();\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["d8246595.d2e1a8"]]},{"id":"974e213e.9d8ab","type":"change","z":"60e56c1c.6552c4","name":"save req and res","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":340,"wires":[["5e35a285.d0414c"]]},{"id":"d8246595.d2e1a8","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":940,"y":300,"wires":[[]]},{"id":"2695da.1eff3a26","type":"http in","z":"60e56c1c.6552c4","name":"","url":"/ubnd_songluy_apicallnumber1","method":"post","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["ef208c6e.54ffb","974e213e.9d8ab"]]},{"id":"ef208c6e.54ffb","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":110,"y":240,"wires":[]},{"id":"bce57ea8.093bd","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=0","func":"\nif(msg.payload[0].maSoTT !== null){\n    let soDangGoi = msg.payload[0].maSoTT;\n    let soDaGoi = soDangGoi-1;\n    msg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, flagWaiting=0 WHERE stt.maSoTT=\"+soDaGoi+\" AND DATE(stt.ngayTao) = CURDATE();\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["f4a3b54e.d838d8"]]},{"id":"f4a3b54e.d838d8","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":1060,"y":200,"wires":[[]]},{"id":"7cc19a69.922994","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1","func":"\n\n\nif(msg.payload[0].maSoTT !== null){\n    msg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1 WHERE stt.maSoTT=\"+msg.payload[0].maSoTT+\" AND DATE(stt.ngayTao) = CURDATE();\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["788b41e2.59ca9"]]},{"id":"788b41e2.59ca9","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":1060,"y":160,"wires":[[]]},{"id":"aef021e.40c84e","type":"audio","z":"60e56c1c.6552c4","source":"C:\\\\Users\\\\xuka\\\\.node-red\\\\sound\\\\dingdong.mp3","name":"dingdong.mp3","x":1140,"y":80,"wires":[]},{"id":"153198cf.969267","type":"switch","z":"60e56c1c.6552c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Hết số","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":80,"wires":[["aef021e.40c84e","9178365c.6d8518"]]},{"id":"e52091f6.16e9","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1","func":"\nlet soDangGoi = msg.payload.soDangGoi;\nmsg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, stt.flagCalled=1, stt.flagCalled=1 WHERE stt.maSoTT=\"+soDangGoi+\" AND DATE(stt.ngayTao) = CURDATE();\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["d8246595.d2e1a8"]]},{"id":"59a78754.144528","type":"http request","z":"60e56c1c.6552c4","name":"101","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.101","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":40,"wires":[[]]},{"id":"9178365c.6d8518","type":"function","z":"60e56c1c.6552c4","name":"Display to led","func":"let message = msg.payload;\n\nmsg.headers = {\n     'content-type':'multipart/form-data'\n}\nmsg.payload = {\n    message: message\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":40,"wires":[["59a78754.144528"]]},{"id":"10b04bb1.ce8d94","type":"http in","z":"60e56c1c.6552c4","name":"","url":"/ubnd_songluy_apinextnumber2","method":"post","upload":false,"swaggerDoc":"","x":190,"y":620,"wires":[["97197d52.37eac","1347f44.e153d0c"]]},{"id":"f08b96e2.96cc38","type":"http response","z":"60e56c1c.6552c4","name":"","statusCode":"","headers":{},"x":1030,"y":660,"wires":[]},{"id":"cf75765e.ce40d8","type":"function","z":"60e56c1c.6552c4","name":"Respone maSTT","func":"\nif(msg.payload[0].maSoTT === null){\n    msg.payload = \"Hết số\";\n} else {\n    msg.payload = msg.payload[0].maSoTT;\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":660,"wires":[["15fc569c.0ae6a9","bb248676.9bf758","dd9cbe4.9cd554"]]},{"id":"97197d52.37eac","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":110,"y":580,"wires":[]},{"id":"15fc569c.0ae6a9","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":620,"wires":[]},{"id":"c2187c82.3813f","type":"function","z":"60e56c1c.6552c4","name":"Query MIN(stt.maSoTT)","func":"msg.topic = \"SELECT MIN(stt.maSoTT) AS maSoTT FROM sothutu stt WHERE stt.flagCalled=0 AND stt.maPhong='2000' AND DATE(stt.ngayTao) = CURDATE();\"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":700,"wires":[["21fe5fed.123e"]]},{"id":"21fe5fed.123e","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":400,"y":700,"wires":[["813b34c6.399168","cf75765e.ce40d8","919b3ec.2e73ec","2352e06d.8077"]]},{"id":"813b34c6.399168","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].maSoTT","targetType":"msg","x":470,"y":620,"wires":[]},{"id":"1347f44.e153d0c","type":"change","z":"60e56c1c.6552c4","name":"save req and res","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":660,"wires":[["c2187c82.3813f"]]},{"id":"bb248676.9bf758","type":"change","z":"60e56c1c.6552c4","name":"get req, res","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":660,"wires":[["f08b96e2.96cc38"]]},{"id":"5e89b9c9.d3b1f8","type":"http response","z":"60e56c1c.6552c4","name":"","statusCode":"","headers":{},"x":910,"y":1040,"wires":[]},{"id":"1cdd35f3.c413da","type":"change","z":"60e56c1c.6552c4","name":"get req, res","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1040,"wires":[["5e89b9c9.d3b1f8"]]},{"id":"eb0c6b52.c68018","type":"function","z":"60e56c1c.6552c4","name":"Response","func":"msg.payload = \"Đang gọi\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1020,"wires":[["1cdd35f3.c413da"]]},{"id":"dfa04a51.033df8","type":"function","z":"60e56c1c.6552c4","name":"Response","func":"msg.payload = \"Hết số\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["1cdd35f3.c413da"]]},{"id":"e7df03a6.fe928","type":"switch","z":"60e56c1c.6552c4","name":"","property":"payload.soDangGoi","propertyType":"msg","rules":[{"t":"neq","v":"Hết số","vt":"str"},{"t":"eq","v":"Hết số","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":880,"wires":[["2de5e76.3f38a18","7b31833c.e6274c","783c2b1e.5804c4"],["dfa04a51.033df8"]]},{"id":"2de5e76.3f38a18","type":"function","z":"60e56c1c.6552c4","name":"Parse string call number","func":"let soDangGoi = msg.payload.soDangGoi;\nlet len = soDangGoi.length;\nsoDangGoi = soDangGoi.split(\"\").join(\" \");\nmsg.payload = \"Xin mời số \"+soDangGoi+\" vào quầy số 2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":960,"wires":[["11e660a0.f127df"]]},{"id":"7b31833c.e6274c","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1","func":"\nlet soDangGoi = msg.payload.soDangGoi;\nlet soDaGoi = soDangGoi-1;\nmsg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, stt.flagCalled=1, stt.flagWaiting=0, stt.flagCalled=1 WHERE stt.maSoTT=\"+soDaGoi+\" AND DATE(stt.ngayTao) = CURDATE();\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":800,"wires":[["ae8ee772.855478"]]},{"id":"6ca69e2b.26587","type":"change","z":"60e56c1c.6552c4","name":"save req and res","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":880,"wires":[["e7df03a6.fe928"]]},{"id":"ae8ee772.855478","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":940,"y":840,"wires":[[]]},{"id":"78295374.8a6ccc","type":"http in","z":"60e56c1c.6552c4","name":"","url":"/ubnd_songluy_apicallnumber2","method":"post","upload":false,"swaggerDoc":"","x":190,"y":820,"wires":[["6d2a5d77.adda14","6ca69e2b.26587"]]},{"id":"6d2a5d77.adda14","type":"debug","z":"60e56c1c.6552c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":110,"y":780,"wires":[]},{"id":"2352e06d.8077","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=0","func":"\nif(msg.payload[0].maSoTT !== null){\n    let soDangGoi = msg.payload[0].maSoTT;\n    let soDaGoi = soDangGoi-1;\n    msg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, flagWaiting=0 WHERE stt.maSoTT=\"+soDaGoi+\" AND DATE(stt.ngayTao) = CURDATE();\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":740,"wires":[["dfd0eb23.711128"]]},{"id":"dfd0eb23.711128","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":1060,"y":740,"wires":[[]]},{"id":"919b3ec.2e73ec","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1","func":"\n\n\nif(msg.payload[0].maSoTT !== null){\n    msg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1 WHERE stt.maSoTT=\"+msg.payload[0].maSoTT+\" AND DATE(stt.ngayTao) = CURDATE();\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":700,"wires":[["70159a4.89d2b64"]]},{"id":"70159a4.89d2b64","type":"mysql","z":"60e56c1c.6552c4","mydb":"714b783d.6c9e68","name":"","x":1060,"y":700,"wires":[[]]},{"id":"fb0dbbea.2f9f98","type":"audio","z":"60e56c1c.6552c4","source":"C:\\\\Users\\\\xuka\\\\.node-red\\\\sound\\\\dingdong.mp3","name":"dingdong.mp3","x":1140,"y":620,"wires":[]},{"id":"dd9cbe4.9cd554","type":"switch","z":"60e56c1c.6552c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Hết số","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":620,"wires":[["fb0dbbea.2f9f98","473ba2ae.1c1efc"]]},{"id":"783c2b1e.5804c4","type":"function","z":"60e56c1c.6552c4","name":"Update stt.flagNext=1, stt.flagCall=1, stt.flagWaiting=1","func":"\nlet soDangGoi = msg.payload.soDangGoi;\nmsg.topic = \"UPDATE sothutu stt SET stt.flagNext=1, stt.flagCall=1, stt.flagCalled=1, stt.flagCalled=1 WHERE stt.maSoTT=\"+soDangGoi+\" AND DATE(stt.ngayTao) = CURDATE();\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":860,"wires":[["ae8ee772.855478"]]},{"id":"69b62c39.3e3624","type":"http request","z":"60e56c1c.6552c4","name":"102","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.102","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":580,"wires":[[]]},{"id":"473ba2ae.1c1efc","type":"function","z":"60e56c1c.6552c4","name":"Display to led","func":"let message = msg.payload;\n\nmsg.headers = {\n     'content-type':'multipart/form-data'\n}\nmsg.payload = {\n    message: message\n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":580,"wires":[["69b62c39.3e3624"]]},{"id":"34fc65c.816f69a","type":"google-speech-text","z":"60e56c1c.6552c4","name":"","auth":"43a9a3ec.c4b3fc","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"tts","getVoices":true,"encoding":"MP3","encodingType":"str","sampleRateHertz":"","sampleRateHertzType":"num","languageCode":"vi-VN","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"false","profanityFilterType":"bool","enableSpeakerDiarization":"true","enableSpeakerDiarizationType":"bool","diarizationSpeakerCount":"","diarizationSpeakerCountType":"num","model":"","modelType":"str","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"1","speakingRateType":"num","pitch":"3","pitchType":"num","volumeGainDb":"10","volumeGainDbType":"num","voiceName":"vi-VN-Standard-B","voiceNameType":"str","ssmlGender":"FEMALE","ssmlGenderType":"str","x":740,"y":420,"wires":[["a237bfcc.e5ba4","1ccd91ee.91371e","7b9604e3.3c7f3c"]]},{"id":"a237bfcc.e5ba4","type":"function","z":"60e56c1c.6552c4","name":"","func":"let fs = global.get('fs');\nlet audioContent = msg.payload.audioContent;\nmsg.payload = audioContent;\nfs.writeFileSync(\"C:\\\\Users\\\\xuka\\\\.node-red\\\\voices\\\\1.mp3\", audioContent, function(err) {\n    if(err) {\n        return console.log(err);\n    }\n    console.log(\"The file was saved!\");\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":420,"wires":[["e3d07885.6cd288"]]},{"id":"e3d07885.6cd288","type":"audio","z":"60e56c1c.6552c4","source":"C:\\\\Users\\\\xuka\\\\.node-red\\\\voices\\\\1.mp3","name":"","x":1090,"y":420,"wires":[]},{"id":"11e660a0.f127df","type":"google-speech-text","z":"60e56c1c.6552c4","name":"","auth":"43a9a3ec.c4b3fc","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"tts","getVoices":true,"encoding":"MP3","encodingType":"str","sampleRateHertz":"","sampleRateHertzType":"num","languageCode":"vi-VN","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"false","profanityFilterType":"bool","enableSpeakerDiarization":"true","enableSpeakerDiarizationType":"bool","diarizationSpeakerCount":"","diarizationSpeakerCountType":"num","model":"","modelType":"str","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"1","speakingRateType":"num","pitch":"3","pitchType":"num","volumeGainDb":"10","volumeGainDbType":"num","voiceName":"vi-VN-Standard-B","voiceNameType":"str","ssmlGender":"FEMALE","ssmlGenderType":"str","x":700,"y":960,"wires":[["7462b50d.3545ac","eb0c6b52.c68018"]]},{"id":"7462b50d.3545ac","type":"function","z":"60e56c1c.6552c4","name":"","func":"let fs = global.get('fs');\nlet audioContent = msg.payload.audioContent;\nmsg.payload = audioContent;\nfs.writeFileSync(\"C:\\\\Users\\\\xuka\\\\.node-red\\\\voices\\\\2.mp3\", audioContent, function(err) {\n    if(err) {\n        return console.log(err);\n    }\n    console.log(\"The file was saved!\");\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":960,"wires":[["7ea8be36.da09c"]]},{"id":"7ea8be36.da09c","type":"audio","z":"60e56c1c.6552c4","source":"C:\\\\Users\\\\xuka\\\\.node-red\\\\voices\\\\2.mp3","name":"","x":1050,"y":960,"wires":[]},{"id":"7b9604e3.3c7f3c","type":"debug","z":"60e56c1c.6552c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":360,"wires":[]},{"id":"714b783d.6c9e68","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"ubnd_songluy","tz":"","charset":"UTF8"},{"id":"43a9a3ec.c4b3fc","type":"google-service-account","name":"laystt","scope":["https://www.googleapis.com/auth/cloud-platform"],"way":"json","check_dialogflow":"","check_speech":""}]